## Task 1: Build a regression model.

#### Import necessary libraries

In [1]:
import pandas as pd

In [2]:
df_City_Bikes_Merged = pd.read_csv('Merged_Data.csv')

df_City_Bikes_Merged

,Station_Name,Free_Bikes,Empty_Slots,Total_Slots,Normal_Bikes,Online,Longitude,Latitude,Bakery_Name,Distance,Address,Emp_Agency_Name,Review_Count,Rating
0,1 Slough Train Station,27.0,31.0,32.0,0.0,True,-0.591562,51.511350,NaN,NaN,NaN,NaN,NaN,NaN
1,2 Burnham Train Station,14.0,20.0,20.0,0.0,True,-0.645294,51.523823,NaN,NaN,NaN,NaN,NaN,NaN
2,3 Slough Trading Estate,30.0,19.0,32.0,0.0,True,-0.625637,51.516508,NaN,NaN,NaN,NaN,NaN,NaN
3,4 Slough Council,28.0,11.0,11.0,0.0,True,-0.607722,51.510629,NaN,NaN,NaN,NaN,NaN,NaN
4,5 Trelawney Avenue,18.0,11.0,11.0,0.0,True,-0.554815,51.501937,NaN,NaN,NaN,NaN,NaN,NaN
5,7 Sutton Lane,4.0,11.0,11.0,0.0,True,-0.534806,51.489517,NaN,NaN,NaN,NaN,NaN,NaN
6,8 Yarmouth Road,11.0,8.0,8.0,0.0,True,-0.616663,51.519919,NaN,NaN,NaN,NaN,NaN,NaN
7,9 Bath Road Shopping Centre,10.0,12.0,12.0,0.0,True,-0.635472,51.520432,NaN,NaN,NaN,NaN,NaN,NaN
8,10 Chalvey High Street,3.0,12.0,12.0,0.0,True,-0.606770,51.506562,NaN,NaN,NaN,NaN,NaN,NaN
9,11 Britwell,5.0,11.0,12.0,0.0,True,-0.631026,51.531906,NaN,NaN,NaN,NaN,NaN,NaN
10,12 Windsor Road,18.0,7.0,8.0,0.0,True,-0.596740,51.507274,NaN,NaN,NaN,NaN,NaN,NaN
11,13 Arbour Park,26.0,12.0,12.0,0.0,True,-0.589626,51.519485,NaN,NaN,NaN,NaN,NaN,NaN
12,14 Wexham Road,18.0,2.0,12.0,0.0,True,-0.578209,51.518459,NaN,NaN,NaN,NaN,NaN,NaN
13,15 The Curve,21.0,12.0,12.0,0.0,True,-0.594979,51.510246,NaN,NaN,NaN,NaN,NaN,NaN
14,16 Langley,22.0,11.0,12.0,0.0,True,-0.543188,51.507257,NaN,NaN,NaN,NaN,NaN,NaN
15,17 Wexham Hospital,2.0,12.0,12.0,0.0,True,-0.576778,51.532348,NaN,NaN,NaN,NaN,NaN,NaN
16,6 O2,10.0,9.0,11.0,0.0,True,-0.630868,51.518988,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,-0.591567,51.510374,Krispy Kreme,109.0,"Tesco Extra Brunel Way (Wellington St), Slough...",NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,-0.589449,51.508094,Greggs,405.0,"223 High St, Slough, Berkshire, SL1 1BY",NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,-0.593906,51.509227,Greggs,275.0,"1 Mackenzie St, Slough, Berkshire, SL1 1XQ",NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,-0.589809,51.508564,Millies Cookies,432.0,"46b The Observatory, High St (The Observatory ...",NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,-0.593187,51.509968,Dawn's Wedding Cakes,190.0,"68 Mercian Way, Slough, SL1 5LY",NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,-0.593187,51.509968,Tales from Lisa's Kitchen,190.0,Burnham on Sea,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,-0.602579,51.506080,Cookie Jar London,961.0,"20B Chalvey Rd East, Slough, SL1 2LU",NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,-0.584430,51.506827,NaN,705.0,"Upton Lodge, 2a, Yew Tree Rd (Upton Lodge, 2a)...",Jobcentre Plus,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,-0.592215,51.511589,NaN,52.0,"1 Brunel Way, Slough, SL1 1FQ",Century Recruitment,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,-0.592960,51.513558,NaN,263.0,"Abbey House, 18-24, Stoke Rd, Slough, SL2 5AG",Century Recruitment,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,-0.593744,51.509343,NaN,269.0,"7 Mackenzie St, Slough, SL1 1XQ",Oracle Medical Care Uk Limited,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,-0.594528,51.509412,NaN,297.0,"129-133 High St, Slough, SL1 1DH",Peach Personnel Services,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,-0.590465,51.508694,NaN,304.0,"Wellington House, Slough, SL1 1DB",Michael Page International Recruitment Limited,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN,-0.588504,51.514106,NaN,372.0,"Brooklands House, Petersfield Ave, Slough, SL2...",Equator Consultancy,NaN,NaN
31,NaN,NaN,NaN,NaN,NaN,NaN,-0.596997,51.509885,NaN,409.0,"48 High St, Slough, SL1 1EL",Slough Connexions Centre,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,-0.585672,51.512404,NaN,423.0,"Albion House, 6 Albion, Slough, SL2 5DT",Jobdarn,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,-0.589750,51.507591,NaN,436.0,"218 High St, Slough, SL1 1JS",Darn,NaN,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,-0.584376,51.555520,Fox & Pheasant,NaN,Gerrards Cross Road,NaN,3.0,4.5
35,NaN,NaN,NaN,NaN,NaN,NaN,-0.645486,51.520670,Tummies Bistro,NaN,5 Station Road,NaN,18.0,4.5
36,NaN,NaN,NaN,NaN,NaN,NaN,-0.658682,51.533563,Artigiani Del Cibo,NaN,59-61 High Street,NaN,2.0,5.0
37,NaN,NaN,NaN,NaN,NaN,NaN,-0.701777,51.507909,The Fat Duck,NaN,High Street,NaN,87.0,5.0
38,NaN,NaN,NaN,NaN,NaN,NaN,-0.586047,51.507650,Steakout,NaN,295-297 High Street,NaN,6.0,4.0
39,NaN,NaN,NaN,NaN,NaN,NaN,-0.697951,51.508260,Caldesi In Campagna,NaN,Old Mill Lane,NaN,10.0,4.5
40,NaN,NaN,NaN,NaN,NaN,NaN,-0.649052,51.527405,Burnham Fish and Chips,NaN,164 Burnham Lane,NaN,1.0,5.0
41,NaN,NaN,NaN,NaN,NaN,NaN,-0.615581,51.555453,La Cantina Del Vino,NaN,The Broadway,NaN,1.0,4.0
42,NaN,NaN,NaN,NaN,NaN,NaN,-0.564290,51.500510,Panjab Restaurant,NaN,118 London Road,NaN,1.0,4.0
43,NaN,NaN,NaN,NaN,NaN,NaN,-0.702101,51.508202,The Hinds Head,NaN,High Street,NaN,44.0,4.5
44,NaN,NaN,NaN,NaN,NaN,NaN,-0.647763,51.520002,The Kais,NaN,467 Bath Road,NaN,1.0,5.0
45,NaN,NaN,NaN,NaN,NaN,NaN,-0.699588,51.509025,The Waterside Inn,NaN,Ferry Road,NaN,28.0,4.5
46,NaN,NaN,NaN,NaN,NaN,NaN,-0.615553,51.556855,The Foresters Arms,NaN,The Broadway,NaN,1.0,4.0
47,NaN,NaN,NaN,NaN,NaN,NaN,-0.665407,51.502414,Dorney Court Kitchen Garden,NaN,Court Lane Dorney,NaN,1.0,5.0
48,NaN,NaN,NaN,NaN,NaN,NaN,-0.596602,51.509756,Mori Japanese Restaurant,NaN,70 High Street,NaN,2.0,4.5
49,NaN,NaN,NaN,NaN,NaN,NaN,-0.701356,51.506771,The Crown at Bray,NaN,High Street,NaN,22.0,4.0
50,NaN,NaN,NaN,NaN,NaN,NaN,-0.689459,51.493410,The Greene Oak,NaN,Oakley Green,NaN,6.0,4.0
51,NaN,NaN,NaN,NaN,NaN,NaN,-0.593293,51.514046,The Chip Box,NaN,39 Stoke Road,NaN,2.0,4.5
52,NaN,NaN,NaN,NaN,NaN,NaN,-0.583271,51.531433,The Red Lion,NaN,Stoke Green,NaN,9.0,4.0
53,NaN,NaN,NaN,NaN,NaN,NaN,-0.512625,51.479487,Pla Tong,NaN,Bath Road,NaN,4.0,4.0
54,NaN,NaN,NaN,NaN,NaN,NaN,-0.701541,51.543658,NaN,NaN,Lower Cookham Road,Westhill Consulting and Employment,2.0,5.0
55,NaN,NaN,NaN,NaN,NaN,NaN,-0.641530,51.525462,NaN,NaN,NaN,Goldteam Recruitment,1.0,1.0
56,NaN,NaN,NaN,NaN,NaN,NaN,-0.584656,51.507249,NaN,NaN,NaN,MYM Solicitors,1.0,5.0

In [3]:
df_City_Bikes_Merged.describe(percentiles=None, include='all', exclude=None)

,Station_Name,Free_Bikes,Empty_Slots,Total_Slots,Normal_Bikes,Online,Longitude,Latitude,Bakery_Name,Distance,Address,Emp_Agency_Name,Review_Count,Rating
count,17,17.000000,17.000000,17.000000,17.0,17,57.000000,57.000000,27,17.000000,38,13,23.000000,23.000000
unique,17,NaN,NaN,NaN,NaN,1,NaN,NaN,26,NaN,35,12,NaN,NaN
top,8 Yarmouth Road,NaN,NaN,NaN,NaN,True,NaN,NaN,Greggs,NaN,High Street,Century Recruitment,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,17,NaN,NaN,2,NaN,3,2,NaN,NaN
mean,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.611598,51.514685,NaN,358.352941,NaN,NaN,11.000000,4.326087
std,NaN,9.231500,6.255586,7.175325,0.0,NaN,0.043553,0.014420,NaN,216.125525,NaN,NaN,19.789805,0.834058
min,NaN,2.000000,2.000000,8.000000,0.0,NaN,-0.702101,51.479487,NaN,52.000000,NaN,NaN,1.000000,1.000000
25%,NaN,10.000000,11.000000,11.000000,0.0,NaN,-0.635472,51.507650,NaN,263.000000,NaN,NaN,1.000000,4.000000
50%,NaN,18.000000,11.000000,12.000000,0.0,NaN,-0.594528,51.509968,NaN,304.000000,NaN,NaN,2.000000,4.500000
75%,NaN,22.000000,12.000000,12.000000,0.0,NaN,-0.589449,51.519919,NaN,423.000000,NaN,NaN,9.500000,5.000000
max,NaN,30.000000,31.000000,32.000000,0.0,NaN,-0.512625,51.556855,NaN,961.000000,NaN,NaN,87.000000,5.000000

In [4]:
# Check for columns with missing data and data type for each columns.

df_City_Bikes_Merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Station_Name     17 non-null     object
 1   Free_Bikes       17 non-null     float64
 2   Empty_Slots      17 non-null     float64
 3   Total_Slots      17 non-null     float64
 4   Normal_Bikes     17 non-null     float64
 5   Online           17 non-null     object
 6   Longitude        57 non-null     float64
 7   Latitude         57 non-null     float64
 8   Bakery_Name      27 non-null     object
 9   Distance         17 non-null     float64
 10  Address          38 non-null     object
 11  Emp_Agency_Name  13 non-null     object
 12  Review_Count     23 non-null     float64
 13  Rating           23 non-null     float64
dtypes: float64(9), object(5)
memory usage: 6.4+ KB

In [5]:
# Gives the count of missing data in each column

df_City_Bikes_Merged.isnull().sum()

Station_Name       40
Free_Bikes         40
Empty_Slots        40
Total_Slots        40
Normal_Bikes       40
Online             40
Longitude           0
Latitude            0
Bakery_Name        30
Distance           40
Address            19
Emp_Agency_Name    44
Review_Count       34
Rating             34
dtype: int64

In [6]:
# To make a list of columns with missing values and check if there is the value 0

cols_missing_values = ['Station_Name', 'Free_Bikes', 'Empty_Slots', 'Total_Slots', 'Normal_Bikes', 'Online', 'Bakery_Name', 'Distance', 'Address', 'Emp_Agency_Name', 'Review_Count','Rating' ] 

(df_City_Bikes_Merged[cols_missing_values] == 0).sum()

Station_Name        0
Free_Bikes          0
Empty_Slots         0
Total_Slots         0
Normal_Bikes       17
Online              0
Bakery_Name         0
Distance            0
Address             0
Emp_Agency_Name     0
Review_Count        0
Rating              0
dtype: int64

#### Normal_Bikes is the only column with '0' as a value.

#### Considering the volume of data I have, I will not be dropping any rows instead will be replacing the numerical columns (Free_Bikes, Empty_Slots, Total_Slots, Normal_Bikes, Review_Count  and Rating with their  respective mean value

In [7]:

df_City_Bikes_Merged['Free_Bikes'] = df_City_Bikes_Merged['Free_Bikes'].fillna(value = df_City_Bikes_Merged['Free_Bikes'].mean())

df_City_Bikes_Merged['Empty_Slots'] = df_City_Bikes_Merged['Empty_Slots'].fillna(value = df_City_Bikes_Merged['Empty_Slots'].mean())

df_City_Bikes_Merged['Total_Slots'] = df_City_Bikes_Merged['Total_Slots'].fillna(value = df_City_Bikes_Merged['Total_Slots'].mean())

df_City_Bikes_Merged['Distance'] = df_City_Bikes_Merged['Distance'].fillna(value = df_City_Bikes_Merged['Distance'].mean())

df_City_Bikes_Merged['Normal_Bikes'] = df_City_Bikes_Merged['Normal_Bikes'].fillna(value = df_City_Bikes_Merged['Normal_Bikes'].mean())

df_City_Bikes_Merged['Review_Count'] = df_City_Bikes_Merged['Review_Count'].fillna(value = df_City_Bikes_Merged['Review_Count'].mean())

df_City_Bikes_Merged['Rating'] = df_City_Bikes_Merged['Rating'].fillna(value = df_City_Bikes_Merged['Rating'].mean())

In [8]:
df_City_Bikes_Merged

,Station_Name,Free_Bikes,Empty_Slots,Total_Slots,Normal_Bikes,Online,Longitude,Latitude,Bakery_Name,Distance,Address,Emp_Agency_Name,Review_Count,Rating
0,1 Slough Train Station,27.000000,31.000000,32.000000,0.0,True,-0.591562,51.511350,NaN,358.352941,NaN,NaN,11.0,4.326087
1,2 Burnham Train Station,14.000000,20.000000,20.000000,0.0,True,-0.645294,51.523823,NaN,358.352941,NaN,NaN,11.0,4.326087
2,3 Slough Trading Estate,30.000000,19.000000,32.000000,0.0,True,-0.625637,51.516508,NaN,358.352941,NaN,NaN,11.0,4.326087
3,4 Slough Council,28.000000,11.000000,11.000000,0.0,True,-0.607722,51.510629,NaN,358.352941,NaN,NaN,11.0,4.326087
4,5 Trelawney Avenue,18.000000,11.000000,11.000000,0.0,True,-0.554815,51.501937,NaN,358.352941,NaN,NaN,11.0,4.326087
5,7 Sutton Lane,4.000000,11.000000,11.000000,0.0,True,-0.534806,51.489517,NaN,358.352941,NaN,NaN,11.0,4.326087
6,8 Yarmouth Road,11.000000,8.000000,8.000000,0.0,True,-0.616663,51.519919,NaN,358.352941,NaN,NaN,11.0,4.326087
7,9 Bath Road Shopping Centre,10.000000,12.000000,12.000000,0.0,True,-0.635472,51.520432,NaN,358.352941,NaN,NaN,11.0,4.326087
8,10 Chalvey High Street,3.000000,12.000000,12.000000,0.0,True,-0.606770,51.506562,NaN,358.352941,NaN,NaN,11.0,4.326087
9,11 Britwell,5.000000,11.000000,12.000000,0.0,True,-0.631026,51.531906,NaN,358.352941,NaN,NaN,11.0,4.326087
10,12 Windsor Road,18.000000,7.000000,8.000000,0.0,True,-0.596740,51.507274,NaN,358.352941,NaN,NaN,11.0,4.326087
11,13 Arbour Park,26.000000,12.000000,12.000000,0.0,True,-0.589626,51.519485,NaN,358.352941,NaN,NaN,11.0,4.326087
12,14 Wexham Road,18.000000,2.000000,12.000000,0.0,True,-0.578209,51.518459,NaN,358.352941,NaN,NaN,11.0,4.326087
13,15 The Curve,21.000000,12.000000,12.000000,0.0,True,-0.594979,51.510246,NaN,358.352941,NaN,NaN,11.0,4.326087
14,16 Langley,22.000000,11.000000,12.000000,0.0,True,-0.543188,51.507257,NaN,358.352941,NaN,NaN,11.0,4.326087
15,17 Wexham Hospital,2.000000,12.000000,12.000000,0.0,True,-0.576778,51.532348,NaN,358.352941,NaN,NaN,11.0,4.326087
16,6 O2,10.000000,9.000000,11.000000,0.0,True,-0.630868,51.518988,NaN,358.352941,NaN,NaN,11.0,4.326087
17,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.591567,51.510374,Krispy Kreme,109.000000,"Tesco Extra Brunel Way (Wellington St), Slough...",NaN,11.0,4.326087
18,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589449,51.508094,Greggs,405.000000,"223 High St, Slough, Berkshire, SL1 1BY",NaN,11.0,4.326087
19,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593906,51.509227,Greggs,275.000000,"1 Mackenzie St, Slough, Berkshire, SL1 1XQ",NaN,11.0,4.326087
20,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589809,51.508564,Millies Cookies,432.000000,"46b The Observatory, High St (The Observatory ...",NaN,11.0,4.326087
21,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593187,51.509968,Dawn's Wedding Cakes,190.000000,"68 Mercian Way, Slough, SL1 5LY",NaN,11.0,4.326087
22,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593187,51.509968,Tales from Lisa's Kitchen,190.000000,Burnham on Sea,NaN,11.0,4.326087
23,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.602579,51.506080,Cookie Jar London,961.000000,"20B Chalvey Rd East, Slough, SL1 2LU",NaN,11.0,4.326087
24,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584430,51.506827,NaN,705.000000,"Upton Lodge, 2a, Yew Tree Rd (Upton Lodge, 2a)...",Jobcentre Plus,11.0,4.326087
25,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.592215,51.511589,NaN,52.000000,"1 Brunel Way, Slough, SL1 1FQ",Century Recruitment,11.0,4.326087
26,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.592960,51.513558,NaN,263.000000,"Abbey House, 18-24, Stoke Rd, Slough, SL2 5AG",Century Recruitment,11.0,4.326087
27,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593744,51.509343,NaN,269.000000,"7 Mackenzie St, Slough, SL1 1XQ",Oracle Medical Care Uk Limited,11.0,4.326087
28,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.594528,51.509412,NaN,297.000000,"129-133 High St, Slough, SL1 1DH",Peach Personnel Services,11.0,4.326087
29,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.590465,51.508694,NaN,304.000000,"Wellington House, Slough, SL1 1DB",Michael Page International Recruitment Limited,11.0,4.326087
30,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.588504,51.514106,NaN,372.000000,"Brooklands House, Petersfield Ave, Slough, SL2...",Equator Consultancy,11.0,4.326087
31,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.596997,51.509885,NaN,409.000000,"48 High St, Slough, SL1 1EL",Slough Connexions Centre,11.0,4.326087
32,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.585672,51.512404,NaN,423.000000,"Albion House, 6 Albion, Slough, SL2 5DT",Jobdarn,11.0,4.326087
33,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589750,51.507591,NaN,436.000000,"218 High St, Slough, SL1 1JS",Darn,11.0,4.326087
34,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584376,51.555520,Fox & Pheasant,358.352941,Gerrards Cross Road,NaN,3.0,4.500000
35,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.645486,51.520670,Tummies Bistro,358.352941,5 Station Road,NaN,18.0,4.500000
36,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.658682,51.533563,Artigiani Del Cibo,358.352941,59-61 High Street,NaN,2.0,5.000000
37,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701777,51.507909,The Fat Duck,358.352941,High Street,NaN,87.0,5.000000
38,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.586047,51.507650,Steakout,358.352941,295-297 High Street,NaN,6.0,4.000000
39,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.697951,51.508260,Caldesi In Campagna,358.352941,Old Mill Lane,NaN,10.0,4.500000
40,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.649052,51.527405,Burnham Fish and Chips,358.352941,164 Burnham Lane,NaN,1.0,5.000000
41,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.615581,51.555453,La Cantina Del Vino,358.352941,The Broadway,NaN,1.0,4.000000
42,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.564290,51.500510,Panjab Restaurant,358.352941,118 London Road,NaN,1.0,4.000000
43,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.702101,51.508202,The Hinds Head,358.352941,High Street,NaN,44.0,4.500000
44,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.647763,51.520002,The Kais,358.352941,467 Bath Road,NaN,1.0,5.000000
45,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.699588,51.509025,The Waterside Inn,358.352941,Ferry Road,NaN,28.0,4.500000
46,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.615553,51.556855,The Foresters Arms,358.352941,The Broadway,NaN,1.0,4.000000
47,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.665407,51.502414,Dorney Court Kitchen Garden,358.352941,Court Lane Dorney,NaN,1.0,5.000000
48,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.596602,51.509756,Mori Japanese Restaurant,358.352941,70 High Street,NaN,2.0,4.500000
49,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701356,51.506771,The Crown at Bray,358.352941,High Street,NaN,22.0,4.000000
50,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.689459,51.493410,The Greene Oak,358.352941,Oakley Green,NaN,6.0,4.000000
51,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593293,51.514046,The Chip Box,358.352941,39 Stoke Road,NaN,2.0,4.500000
52,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.583271,51.531433,The Red Lion,358.352941,Stoke Green,NaN,9.0,4.000000
53,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.512625,51.479487,Pla Tong,358.352941,Bath Road,NaN,4.0,4.000000
54,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701541,51.543658,NaN,358.352941,Lower Cookham Road,Westhill Consulting and Employment,2.0,5.000000
55,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.641530,51.525462,NaN,358.352941,NaN,Goldteam Recruitment,1.0,1.000000
56,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584656,51.507249,NaN,358.352941,NaN,MYM Solicitors,1.0,5.000000

### Simple Linear Regression to predict number of Free_Bikes

In [9]:
from sklearn import linear_model
import statsmodels.api as sm

In [10]:
x = df_City_Bikes_Merged[['Empty_Slots', 'Total_Slots', 'Normal_Bikes', 'Longitude', 'Latitude', 'Distance', 'Review_Count', 'Rating']]
y = df_City_Bikes_Merged['Free_Bikes']

In [11]:
Xreg = sm.add_constant(x) # adding a constant

reg_line = sm.OLS(y, Xreg)

model = reg_line.fit()

result = model.summary()

print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:             Free_Bikes   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.159
Method:                 Least Squares   F-statistic:                     2.511
Date:                Mon, 31 Jul 2023   Prob (F-statistic):             0.0274
Time:                        21:24:03   Log-Likelihood:                -162.62
No. Observations:                  57   AIC:                             341.2
Df Residuals:                      49   BIC:                             357.6
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         1311.0201   2338.095      0.561      0.578   -3387.557    6009.598
Empty_Slots     -0.4402      0.345     -1.277      0.208      -1.133       0.252
Total_Slots      0.9537      0.301      3.171      0.003       0.349       1.558
Normal_Bikes  8.881e-10   1.58e-09      0.561      0.578   -2.29e-09    4.07e-09
Longitude        4.3786     15.982      0.274      0.785     -27.739      36.496
Latitude       -25.2497     45.442     -0.556      0.581    -116.568      66.069
Distance        -0.0001      0.005     -0.025      0.980      -0.011       0.010
Review_Count    -0.0003      0.056     -0.006      0.995      -0.113       0.112
Rating           0.0338      1.178      0.029      0.977      -2.334       2.401
==============================================================================
Omnibus:                       12.302   Durbin-Watson:                   1.626
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               38.464
Skew:                           0.229   Prob(JB):                     4.44e-09
Kurtosis:                       6.998   Cond. No.                     1.01e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.1e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

Provide model output and an interpretation of the results.

In [12]:
result

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:             Free_Bikes   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.159
Method:                 Least Squares   F-statistic:                     2.511
Date:                Mon, 31 Jul 2023   Prob (F-statistic):             0.0274
Time:                        21:24:03   Log-Likelihood:                -162.62
No. Observations:                  57   AIC:                             341.2
Df Residuals:                      49   BIC:                             357.6
Df Model:                           7
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         1311.0201   2338.095      0.561      0.578   -3387.557    6009.598
Empty_Slots     -0.4402      0.345     -1.277      0.208      -1.133       0.252
Total_Slots      0.9537      0.301      3.171      0.003       0.349       1.558
Normal_Bikes  8.881e-10   1.58e-09      0.561      0.578   -2.29e-09    4.07e-09
Longitude        4.3786     15.982      0.274      0.785     -27.739      36.496
Latitude       -25.2497     45.442     -0.556      0.581    -116.568      66.069
Distance        -0.0001      0.005     -0.025      0.980      -0.011       0.010
Review_Count    -0.0003      0.056     -0.006      0.995      -0.113       0.112
Rating           0.0338      1.178      0.029      0.977      -2.334       2.401
==============================================================================
Omnibus:                       12.302   Durbin-Watson:                   1.626
Prob(Omnibus):                  0.002   Jarque-Bera (JB):               38.464
Skew:                           0.229   Prob(JB):                     4.44e-09
Kurtosis:                       6.998   Cond. No.                     1.01e+18
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.1e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

R-squared: the proportion of variance in the dependent variable that can be explained by the independent variable (goodness of fit). Ranges from 0 to 1.
Adj. R-squared: This is preferred to the R-Squared because it penalizes the model for  using multiple independent variables.Usually Adjusated R-squared for very good models is expected to be higher than the R-squared. In this example Adjusted R-squared dropped because there are so many variable without explanatory power that are inclded in the model.
    
The only independent variable with a p-value < 0.05 is "Total_Slots

Building a model with only Total_Slots as the independent variable (as shown below), the Adjusted R-squared increased slightly, however, it is still very low. The closer the value is to 1, the better the quality of the model. This further explains that the variables being used to determine the number of Free_Bikes are not good predictors.

In [13]:
x = df_City_Bikes_Merged[['Total_Slots']]
y = df_City_Bikes_Merged['Free_Bikes']

In [14]:
Xreg = sm.add_constant(x) # adding a constant

reg_line = sm.OLS(y, Xreg)

model = reg_line.fit()

result = model.summary()

print(result)

                            OLS Regression Results
==============================================================================
Dep. Variable:             Free_Bikes   R-squared:                       0.232
Model:                            OLS   Adj. R-squared:                  0.218
Method:                 Least Squares   F-statistic:                     16.62
Date:                Mon, 31 Jul 2023   Prob (F-statistic):           0.000148
Time:                        21:24:03   Log-Likelihood:                -163.83
No. Observations:                  57   AIC:                             331.7
Df Residuals:                      55   BIC:                             335.8
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
const           6.9554      2.223      3.129      0.003       2.501      11.410
Total_Slots     0.6198      0.152      4.077      0.000       0.315       0.924
==============================================================================
Omnibus:                       10.446   Durbin-Watson:                   1.431
Prob(Omnibus):                  0.005   Jarque-Bera (JB):               29.151
Skew:                           0.026   Prob(JB):                     4.68e-07
Kurtosis:                       6.503   Cond. No.                         56.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?

To achieve this we will need a column of our dependent variable to be categorical (not numerical). Thus I will follow the steps below:
- Choose Online column with values True and NaN
- Assign the value '1' to True and '0' to NaN

In [15]:
df_Classification = df_City_Bikes_Merged.copy()

df_Classification

,Station_Name,Free_Bikes,Empty_Slots,Total_Slots,Normal_Bikes,Online,Longitude,Latitude,Bakery_Name,Distance,Address,Emp_Agency_Name,Review_Count,Rating
0,1 Slough Train Station,27.000000,31.000000,32.000000,0.0,True,-0.591562,51.511350,NaN,358.352941,NaN,NaN,11.0,4.326087
1,2 Burnham Train Station,14.000000,20.000000,20.000000,0.0,True,-0.645294,51.523823,NaN,358.352941,NaN,NaN,11.0,4.326087
2,3 Slough Trading Estate,30.000000,19.000000,32.000000,0.0,True,-0.625637,51.516508,NaN,358.352941,NaN,NaN,11.0,4.326087
3,4 Slough Council,28.000000,11.000000,11.000000,0.0,True,-0.607722,51.510629,NaN,358.352941,NaN,NaN,11.0,4.326087
4,5 Trelawney Avenue,18.000000,11.000000,11.000000,0.0,True,-0.554815,51.501937,NaN,358.352941,NaN,NaN,11.0,4.326087
5,7 Sutton Lane,4.000000,11.000000,11.000000,0.0,True,-0.534806,51.489517,NaN,358.352941,NaN,NaN,11.0,4.326087
6,8 Yarmouth Road,11.000000,8.000000,8.000000,0.0,True,-0.616663,51.519919,NaN,358.352941,NaN,NaN,11.0,4.326087
7,9 Bath Road Shopping Centre,10.000000,12.000000,12.000000,0.0,True,-0.635472,51.520432,NaN,358.352941,NaN,NaN,11.0,4.326087
8,10 Chalvey High Street,3.000000,12.000000,12.000000,0.0,True,-0.606770,51.506562,NaN,358.352941,NaN,NaN,11.0,4.326087
9,11 Britwell,5.000000,11.000000,12.000000,0.0,True,-0.631026,51.531906,NaN,358.352941,NaN,NaN,11.0,4.326087
10,12 Windsor Road,18.000000,7.000000,8.000000,0.0,True,-0.596740,51.507274,NaN,358.352941,NaN,NaN,11.0,4.326087
11,13 Arbour Park,26.000000,12.000000,12.000000,0.0,True,-0.589626,51.519485,NaN,358.352941,NaN,NaN,11.0,4.326087
12,14 Wexham Road,18.000000,2.000000,12.000000,0.0,True,-0.578209,51.518459,NaN,358.352941,NaN,NaN,11.0,4.326087
13,15 The Curve,21.000000,12.000000,12.000000,0.0,True,-0.594979,51.510246,NaN,358.352941,NaN,NaN,11.0,4.326087
14,16 Langley,22.000000,11.000000,12.000000,0.0,True,-0.543188,51.507257,NaN,358.352941,NaN,NaN,11.0,4.326087
15,17 Wexham Hospital,2.000000,12.000000,12.000000,0.0,True,-0.576778,51.532348,NaN,358.352941,NaN,NaN,11.0,4.326087
16,6 O2,10.000000,9.000000,11.000000,0.0,True,-0.630868,51.518988,NaN,358.352941,NaN,NaN,11.0,4.326087
17,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.591567,51.510374,Krispy Kreme,109.000000,"Tesco Extra Brunel Way (Wellington St), Slough...",NaN,11.0,4.326087
18,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589449,51.508094,Greggs,405.000000,"223 High St, Slough, Berkshire, SL1 1BY",NaN,11.0,4.326087
19,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593906,51.509227,Greggs,275.000000,"1 Mackenzie St, Slough, Berkshire, SL1 1XQ",NaN,11.0,4.326087
20,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589809,51.508564,Millies Cookies,432.000000,"46b The Observatory, High St (The Observatory ...",NaN,11.0,4.326087
21,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593187,51.509968,Dawn's Wedding Cakes,190.000000,"68 Mercian Way, Slough, SL1 5LY",NaN,11.0,4.326087
22,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593187,51.509968,Tales from Lisa's Kitchen,190.000000,Burnham on Sea,NaN,11.0,4.326087
23,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.602579,51.506080,Cookie Jar London,961.000000,"20B Chalvey Rd East, Slough, SL1 2LU",NaN,11.0,4.326087
24,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584430,51.506827,NaN,705.000000,"Upton Lodge, 2a, Yew Tree Rd (Upton Lodge, 2a)...",Jobcentre Plus,11.0,4.326087
25,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.592215,51.511589,NaN,52.000000,"1 Brunel Way, Slough, SL1 1FQ",Century Recruitment,11.0,4.326087
26,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.592960,51.513558,NaN,263.000000,"Abbey House, 18-24, Stoke Rd, Slough, SL2 5AG",Century Recruitment,11.0,4.326087
27,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593744,51.509343,NaN,269.000000,"7 Mackenzie St, Slough, SL1 1XQ",Oracle Medical Care Uk Limited,11.0,4.326087
28,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.594528,51.509412,NaN,297.000000,"129-133 High St, Slough, SL1 1DH",Peach Personnel Services,11.0,4.326087
29,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.590465,51.508694,NaN,304.000000,"Wellington House, Slough, SL1 1DB",Michael Page International Recruitment Limited,11.0,4.326087
30,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.588504,51.514106,NaN,372.000000,"Brooklands House, Petersfield Ave, Slough, SL2...",Equator Consultancy,11.0,4.326087
31,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.596997,51.509885,NaN,409.000000,"48 High St, Slough, SL1 1EL",Slough Connexions Centre,11.0,4.326087
32,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.585672,51.512404,NaN,423.000000,"Albion House, 6 Albion, Slough, SL2 5DT",Jobdarn,11.0,4.326087
33,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.589750,51.507591,NaN,436.000000,"218 High St, Slough, SL1 1JS",Darn,11.0,4.326087
34,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584376,51.555520,Fox & Pheasant,358.352941,Gerrards Cross Road,NaN,3.0,4.500000
35,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.645486,51.520670,Tummies Bistro,358.352941,5 Station Road,NaN,18.0,4.500000
36,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.658682,51.533563,Artigiani Del Cibo,358.352941,59-61 High Street,NaN,2.0,5.000000
37,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701777,51.507909,The Fat Duck,358.352941,High Street,NaN,87.0,5.000000
38,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.586047,51.507650,Steakout,358.352941,295-297 High Street,NaN,6.0,4.000000
39,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.697951,51.508260,Caldesi In Campagna,358.352941,Old Mill Lane,NaN,10.0,4.500000
40,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.649052,51.527405,Burnham Fish and Chips,358.352941,164 Burnham Lane,NaN,1.0,5.000000
41,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.615581,51.555453,La Cantina Del Vino,358.352941,The Broadway,NaN,1.0,4.000000
42,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.564290,51.500510,Panjab Restaurant,358.352941,118 London Road,NaN,1.0,4.000000
43,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.702101,51.508202,The Hinds Head,358.352941,High Street,NaN,44.0,4.500000
44,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.647763,51.520002,The Kais,358.352941,467 Bath Road,NaN,1.0,5.000000
45,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.699588,51.509025,The Waterside Inn,358.352941,Ferry Road,NaN,28.0,4.500000
46,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.615553,51.556855,The Foresters Arms,358.352941,The Broadway,NaN,1.0,4.000000
47,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.665407,51.502414,Dorney Court Kitchen Garden,358.352941,Court Lane Dorney,NaN,1.0,5.000000
48,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.596602,51.509756,Mori Japanese Restaurant,358.352941,70 High Street,NaN,2.0,4.500000
49,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701356,51.506771,The Crown at Bray,358.352941,High Street,NaN,22.0,4.000000
50,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.689459,51.493410,The Greene Oak,358.352941,Oakley Green,NaN,6.0,4.000000
51,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.593293,51.514046,The Chip Box,358.352941,39 Stoke Road,NaN,2.0,4.500000
52,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.583271,51.531433,The Red Lion,358.352941,Stoke Green,NaN,9.0,4.000000
53,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.512625,51.479487,Pla Tong,358.352941,Bath Road,NaN,4.0,4.000000
54,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.701541,51.543658,NaN,358.352941,Lower Cookham Road,Westhill Consulting and Employment,2.0,5.000000
55,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.641530,51.525462,NaN,358.352941,NaN,Goldteam Recruitment,1.0,1.000000
56,NaN,15.705882,12.411765,14.117647,0.0,NaN,-0.584656,51.507249,NaN,358.352941,NaN,MYM Solicitors,1.0,5.000000

In [16]:
df_Classification.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57 entries, 0 to 56
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Station_Name     17 non-null     object
 1   Free_Bikes       57 non-null     float64
 2   Empty_Slots      57 non-null     float64
 3   Total_Slots      57 non-null     float64
 4   Normal_Bikes     57 non-null     float64
 5   Online           17 non-null     object
 6   Longitude        57 non-null     float64
 7   Latitude         57 non-null     float64
 8   Bakery_Name      27 non-null     object
 9   Distance         57 non-null     float64
 10  Address          38 non-null     object
 11  Emp_Agency_Name  13 non-null     object
 12  Review_Count     57 non-null     float64
 13  Rating           57 non-null     float64
dtypes: float64(9), object(5)
memory usage: 6.4+ KB

In [17]:
df_Classification = df_Classification.replace({True: 1,'NaN': 0 })


df_Classification['Online'] = df_Classification['Online'].fillna(0)

In [18]:
df_Classification

,Station_Name,Free_Bikes,Empty_Slots,Total_Slots,Normal_Bikes,Online,Longitude,Latitude,Bakery_Name,Distance,Address,Emp_Agency_Name,Review_Count,Rating
0,1 Slough Train Station,27.000000,31.000000,32.000000,0.0,1.0,-0.591562,51.511350,NaN,358.352941,NaN,NaN,11.0,4.326087
1,2 Burnham Train Station,14.000000,20.000000,20.000000,0.0,1.0,-0.645294,51.523823,NaN,358.352941,NaN,NaN,11.0,4.326087
2,3 Slough Trading Estate,30.000000,19.000000,32.000000,0.0,1.0,-0.625637,51.516508,NaN,358.352941,NaN,NaN,11.0,4.326087
3,4 Slough Council,28.000000,11.000000,11.000000,0.0,1.0,-0.607722,51.510629,NaN,358.352941,NaN,NaN,11.0,4.326087
4,5 Trelawney Avenue,18.000000,11.000000,11.000000,0.0,1.0,-0.554815,51.501937,NaN,358.352941,NaN,NaN,11.0,4.326087
5,7 Sutton Lane,4.000000,11.000000,11.000000,0.0,1.0,-0.534806,51.489517,NaN,358.352941,NaN,NaN,11.0,4.326087
6,8 Yarmouth Road,11.000000,8.000000,8.000000,0.0,1.0,-0.616663,51.519919,NaN,358.352941,NaN,NaN,11.0,4.326087
7,9 Bath Road Shopping Centre,10.000000,12.000000,12.000000,0.0,1.0,-0.635472,51.520432,NaN,358.352941,NaN,NaN,11.0,4.326087
8,10 Chalvey High Street,3.000000,12.000000,12.000000,0.0,1.0,-0.606770,51.506562,NaN,358.352941,NaN,NaN,11.0,4.326087
9,11 Britwell,5.000000,11.000000,12.000000,0.0,1.0,-0.631026,51.531906,NaN,358.352941,NaN,NaN,11.0,4.326087
10,12 Windsor Road,18.000000,7.000000,8.000000,0.0,1.0,-0.596740,51.507274,NaN,358.352941,NaN,NaN,11.0,4.326087
11,13 Arbour Park,26.000000,12.000000,12.000000,0.0,1.0,-0.589626,51.519485,NaN,358.352941,NaN,NaN,11.0,4.326087
12,14 Wexham Road,18.000000,2.000000,12.000000,0.0,1.0,-0.578209,51.518459,NaN,358.352941,NaN,NaN,11.0,4.326087
13,15 The Curve,21.000000,12.000000,12.000000,0.0,1.0,-0.594979,51.510246,NaN,358.352941,NaN,NaN,11.0,4.326087
14,16 Langley,22.000000,11.000000,12.000000,0.0,1.0,-0.543188,51.507257,NaN,358.352941,NaN,NaN,11.0,4.326087
15,17 Wexham Hospital,2.000000,12.000000,12.000000,0.0,1.0,-0.576778,51.532348,NaN,358.352941,NaN,NaN,11.0,4.326087
16,6 O2,10.000000,9.000000,11.000000,0.0,1.0,-0.630868,51.518988,NaN,358.352941,NaN,NaN,11.0,4.326087
17,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.591567,51.510374,Krispy Kreme,109.000000,"Tesco Extra Brunel Way (Wellington St), Slough...",NaN,11.0,4.326087
18,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.589449,51.508094,Greggs,405.000000,"223 High St, Slough, Berkshire, SL1 1BY",NaN,11.0,4.326087
19,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.593906,51.509227,Greggs,275.000000,"1 Mackenzie St, Slough, Berkshire, SL1 1XQ",NaN,11.0,4.326087
20,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.589809,51.508564,Millies Cookies,432.000000,"46b The Observatory, High St (The Observatory ...",NaN,11.0,4.326087
21,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.593187,51.509968,Dawn's Wedding Cakes,190.000000,"68 Mercian Way, Slough, SL1 5LY",NaN,11.0,4.326087
22,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.593187,51.509968,Tales from Lisa's Kitchen,190.000000,Burnham on Sea,NaN,11.0,4.326087
23,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.602579,51.506080,Cookie Jar London,961.000000,"20B Chalvey Rd East, Slough, SL1 2LU",NaN,11.0,4.326087
24,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.584430,51.506827,NaN,705.000000,"Upton Lodge, 2a, Yew Tree Rd (Upton Lodge, 2a)...",Jobcentre Plus,11.0,4.326087
25,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.592215,51.511589,NaN,52.000000,"1 Brunel Way, Slough, SL1 1FQ",Century Recruitment,11.0,4.326087
26,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.592960,51.513558,NaN,263.000000,"Abbey House, 18-24, Stoke Rd, Slough, SL2 5AG",Century Recruitment,11.0,4.326087
27,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.593744,51.509343,NaN,269.000000,"7 Mackenzie St, Slough, SL1 1XQ",Oracle Medical Care Uk Limited,11.0,4.326087
28,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.594528,51.509412,NaN,297.000000,"129-133 High St, Slough, SL1 1DH",Peach Personnel Services,11.0,4.326087
29,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.590465,51.508694,NaN,304.000000,"Wellington House, Slough, SL1 1DB",Michael Page International Recruitment Limited,11.0,4.326087
30,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.588504,51.514106,NaN,372.000000,"Brooklands House, Petersfield Ave, Slough, SL2...",Equator Consultancy,11.0,4.326087
31,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.596997,51.509885,NaN,409.000000,"48 High St, Slough, SL1 1EL",Slough Connexions Centre,11.0,4.326087
32,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.585672,51.512404,NaN,423.000000,"Albion House, 6 Albion, Slough, SL2 5DT",Jobdarn,11.0,4.326087
33,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.589750,51.507591,NaN,436.000000,"218 High St, Slough, SL1 1JS",Darn,11.0,4.326087
34,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.584376,51.555520,Fox & Pheasant,358.352941,Gerrards Cross Road,NaN,3.0,4.500000
35,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.645486,51.520670,Tummies Bistro,358.352941,5 Station Road,NaN,18.0,4.500000
36,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.658682,51.533563,Artigiani Del Cibo,358.352941,59-61 High Street,NaN,2.0,5.000000
37,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.701777,51.507909,The Fat Duck,358.352941,High Street,NaN,87.0,5.000000
38,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.586047,51.507650,Steakout,358.352941,295-297 High Street,NaN,6.0,4.000000
39,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.697951,51.508260,Caldesi In Campagna,358.352941,Old Mill Lane,NaN,10.0,4.500000
40,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.649052,51.527405,Burnham Fish and Chips,358.352941,164 Burnham Lane,NaN,1.0,5.000000
41,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.615581,51.555453,La Cantina Del Vino,358.352941,The Broadway,NaN,1.0,4.000000
42,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.564290,51.500510,Panjab Restaurant,358.352941,118 London Road,NaN,1.0,4.000000
43,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.702101,51.508202,The Hinds Head,358.352941,High Street,NaN,44.0,4.500000
44,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.647763,51.520002,The Kais,358.352941,467 Bath Road,NaN,1.0,5.000000
45,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.699588,51.509025,The Waterside Inn,358.352941,Ferry Road,NaN,28.0,4.500000
46,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.615553,51.556855,The Foresters Arms,358.352941,The Broadway,NaN,1.0,4.000000
47,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.665407,51.502414,Dorney Court Kitchen Garden,358.352941,Court Lane Dorney,NaN,1.0,5.000000
48,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.596602,51.509756,Mori Japanese Restaurant,358.352941,70 High Street,NaN,2.0,4.500000
49,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.701356,51.506771,The Crown at Bray,358.352941,High Street,NaN,22.0,4.000000
50,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.689459,51.493410,The Greene Oak,358.352941,Oakley Green,NaN,6.0,4.000000
51,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.593293,51.514046,The Chip Box,358.352941,39 Stoke Road,NaN,2.0,4.500000
52,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.583271,51.531433,The Red Lion,358.352941,Stoke Green,NaN,9.0,4.000000
53,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.512625,51.479487,Pla Tong,358.352941,Bath Road,NaN,4.0,4.000000
54,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.701541,51.543658,NaN,358.352941,Lower Cookham Road,Westhill Consulting and Employment,2.0,5.000000
55,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.641530,51.525462,NaN,358.352941,NaN,Goldteam Recruitment,1.0,1.000000
56,NaN,15.705882,12.411765,14.117647,0.0,0.0,-0.584656,51.507249,NaN,358.352941,NaN,MYM Solicitors,1.0,5.000000

In [ ]:
y = df_Classification['Online']
X = df_Classification[['Free_Bikes','Empty_Slots', 'Total_Slots', 'Normal_Bikes', 'Longitude', 'Latitude', 'Distance', 'Review_Count', 'Rating']]
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.Logit(y, X) # (need to send in as floats)

results = model.fit() #fit the model (MLE)
print(results.summary())